/* 
  Table of Contents
    1. variables
    2. global styles
    3. accessibility
    4. header
    5. main
      5.1 main nav
      5.2 main content
    6. footer
      6.1 secondary nav
    7. media queries
      7.1 responsiveness
      7.2 reduced motion
*/

/* ========== 1. variables ========== */
:root {
  /* text */
  --text-black-high: rgba(0, 0, 0, 0.87);
  --text-black-med: rgba(0, 0, 0, 0.6);
  --text-black-low: rgba(0, 0, 0, 0.38);
  --text-white-high: rgba(255, 255, 255, 0.87);
  --text-white-med: rgba(255, 255, 255, 0.6);
  --text-white-low: rgba(255, 255, 255, 0.38);
  /* misc */
  --active: 0.87;
  --inactive: 0.6;
  --disabled: 0.38;
}

:root[data-theme='dark'] {
  /* brand colors */
  --color-primary: ; /* 200 tonal range */
  --color-primary-var: ; /* 500 tonal range */
  --color-secondary: ; /* 50-200 tonal range */
  --color-secondary-var: ; /* 50-200 tonal range */
  /* backgrounds */
  --bg-base: rgb(18, 18, 30);
  --bg-accessibility: rgb(30, 30, 120);
  --bg-header: rgb(18, 18, 80);
  --bg-search-input: rgb(30, 30, 30);
  --bg-search-btn: rgb(44, 44, 44);
  /* elevation refs */
  --elevation-00dp: rgb(18, 18, 18); /* text btn, top app bar (rest), */
  --elevation-01dp: rgb(30, 30, 30); /* searchbar (rest), card (rest), switch */
  --elevation-02dp: rgb(33, 33, 33); /* btn (resting) */
  --elevation-03dp: rgb(37, 37, 37); /* refresh indicator search bar */
  --elevation-04dp: rgb(39, 39, 39); /* top app bar (scrolled/resting) */
  --elevation-06dp: rgb(44, 44, 44); /* floating action btn snackbar */
  --elevation-08dp: rgb(
    46,
    46,
    46
  ); /* bottom/side sheet, btm nav/app bar, menu/submenu, card (picked up), btn (pressed) */
  --elevation-12dp: rgb(51, 51, 51); /* floating action btn (pressed) */
  --elevation-16dp: rgb(54, 54, 54); /* modal bottom/side, nav drawer */
  --elevation-24dp: rgb(56, 56, 56); /* dialogue */
  /* text */
  --text-primary: rgb(255, 255, 255, 0.87);
  /* borders/outlines */
  --border-primary: 1px solid rgba(255, 255, 255, 0.6);
  --border-primary-focus: 2px solid rgb(255, 255, 255);
  --border-input: 1px inset rgba(255, 255, 255, 0.6);
  --border-input-focus: 2px inset rgba(255, 255, 255, 0.87);
  --border-search-btn: 1px outset rgba(255, 255, 255, 0.6);
  --border-search-btn-focus: 2px outset rgba(255, 255, 255, 0.87);
  --border-switch: 1px solid rgba(255, 255, 255, 0.6);
  --border-switch-focus: 2px solid rgb(255, 255, 255);
  --border-nav-link: 2px solid rgba(60, 60, 255, 0.87);
  --border-nav-link-inactive: 2px solid rgba(60, 60, 255, 0.38);
  --outline-primary-focus: 1px solid rgba(255, 255, 255, 0.87);
  /* images/icons */
  /* misc */
  --error: rgb(207, 102, 121);
  --warning: rgb(255, 245, 157);
  --success: rgb(165, 214, 167);
  --info: rgb(144, 202, 249);
}

:root[data-theme='light'] {
  /* brand colors */
  --color-primary: ; /* 500 tonal range */
  --color-primary-var: ; /* +/- 200 of primary */
  --color-secondary: ; /* 500 tonal range */
  --color-secondary-var: ; /* +/- 200 of primary */
  /* backgrounds */
  --bg-base: rgb(255, 241, 210);
  --bg-accessibility: rgb(255, 185, 65);
  --bg-header: rgb(255, 166, 0);
  --bg-search-input: rgb(240, 240, 240);
  --bg-search-btn: rgb(220, 220, 220);
  /* text */
  --text-primary: rgba(0, 0, 0, 0.87);
  /* borders/outlines */
  --border-primary: 1px solid rgba(0, 0, 0, 0.6);
  --border-primary-focus: 1px solid rgb(0, 0, 0);
  --border-input: 1px inset rgba(0, 0, 0, 0.6);
  --border-input-focus: 2px inset rgba(0, 0, 0, 0.87);
  --border-search-btn: 1px outset rgba(0, 0, 0, 0.6);
  --border-search-btn-focus: 2px outset rgba(0, 0, 0, 0.87);
  --border-switch: 1px solid rgba(0, 0, 0, 0.6);
  --border-switch-focus: 2px solid rgb(0, 0, 0);
  --border-nav-link: 2px solid rgba(185, 121, 0, 0.87);
  --border-nav-link-inactive: 2px solid rgba(185, 121, 0, 0.38);
  --outline-primary-focus: 1px solid rgba(0, 0, 0, 0.87);
  /* images/icons */
  /* misc */
  --error: rgb(176, 0, 32);
  --warning: rgb(255, 235, 59);
  --success: rgb(76, 175, 80);
  --info: rgb(33, 150, 243);
}

/* ========== 2. global styles ========== */
* {
  box-sizing: border-box;
}

*:focus {
  outline: none;
}

body {
  background-color: var(--bg-base);
  font-family: 'Rubik', Verdana, Geneva, Tahoma, sans-serif;
}

a {
  text-decoration: none;
}

button:hover {
  cursor: pointer;
}

/* ========== 3. accessibility ========== */
#accessibility-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 10px 20px;
  background-color: var(--bg-accessibility);
}

#skip-link {
  color: var(--text-primary);
  border-bottom: 1px solid transparent;
  text-decoration: none;
}

#skip-link:hover,
#skip-link:focus {
  outline: none;
  border-bottom: var(--border-primary);
}

#theme-switch {
  display: flex;
  align-items: center;
  width: 3.75rem;
  height: 1.5rem;
  padding: 0 5px;
  border-radius: 10px;
  background-color: var(--bg-base);
  border: var(--border-switch);
  overflow: hidden;
  transition: background-color 300ms linear;
}

#theme-switch:hover {
  cursor: pointer;
}

#theme-switch:focus {
  border: var(--border-switch-focus);
}

#light-theme-icon,
#dark-theme-icon {
  transition: transform 200ms linear;
}

#light-theme-icon {
  width: 50%;
  height: 1.25rem;
  color: black;
  transform: translateX(3rem);
}

#dark-theme-icon {
  width: 50%;
  height: 1.25rem;
  color: white;
  transform: translateX(-3rem);
}

/* ========== 4. header ========== */
header {
  background-color: var(--bg-header);
}

.header-main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#app-logo {
  margin: 0;
  padding: 5px 10px;
  color: var(--text-primary);
  font-size: 2.5rem;
  word-spacing: 0.5rem;
  text-align: center;
}

#app-logo > div {
  margin: -5px 5px 0;
  font-size: 0.9rem;
  word-spacing: initial;
  font-weight: bold;
  text-align: right;
}

form {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  max-width: 400px;
  min-height: 3.25rem;
  margin: 20px 0 0;
  padding-bottom: 10px;
}

.form-btn {
  margin: 0;
  padding: 0;
}

.use-location-btn {
  width: 2rem;
  height: 2rem;
  margin-right: 10px;
  background-color: transparent;
  border: none;
}

.use-location-btn:focus {
  outline: var(--outline-primary-focus);
}

.use-location-icon {
  color: var(--text-primary);
}

.search-container {
  display: flex;
  flex-direction: column;
  width: calc(90% - 5rem);
}

input[type='text'] {
  height: 2rem;
  padding: 0 5px;
  background-color: var(--bg-search-input);
  border: var(--border-input);
  color: var(--text-primary);
  font-size: 1rem;
}

input[type='text']:focus {
  border: var(--border-input-focus);
}

label[for='location-search'] {
  margin-top: 5px;
  color: var(--text-primary);
  font-size: 0.9rem;
}

.search-btn {
  width: 3rem;
  height: 2rem;
  background-color: var(--bg-search-btn);
  border: var(--border-search-btn);
  border-left: none;
}

.search-btn:focus {
  border: var(--border-search-btn-focus);
}

.search-icon {
  color: var(--text-primary);
}

.search-error {
  display: none;
  padding: 10px;
  background-color: var(--error);
  font-size: 0.8rem;
}

/* ========== 5. main ========== */
/* ========== 5.1 main nav ========== */
#upper-nav {
  position: sticky;
  top: 0;
  width: 100%;
  min-height: 3rem;
  background-color: var(--bg-base);
}

.forecast-links {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  margin: 0;
  list-style-type: none;
}

.forecast-links li {
  display: inline-block;
  width: 100%;
  height: 100%;
}

.link {
  display: inline-block;
  width: 100%;
  padding: 10px 0;
  border-bottom: var(--border-nav-link-inactive);
  border-top: 2px solid transparent;
  color: var(--text-primary);
  font-size: 1rem;
  text-align: center;
}

.link:hover,
.link:focus {
  outline: none;
  border-bottom: var(--border-nav-link);
  border-top: var(--border-nav-link);
}

.active-link {
  border-bottom: var(--border-nav-link);
  font-weight: bold;
}

/* ========== 5.2 main content ========== */
#main {
  height: 150vh;
  color: white;
}

/* ========== 6. footer ========== */

/* ========== 6.1 secondary nav ========== */
footer {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 20px;
  color: var(--text-primary);
  font-size: 0.8rem;
}

#lower-nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 75%;
}

.github-link {
  margin-top: 15px;
  color: var(--text-primary);
  text-align: center;
}

.github-icon {
  opacity: 0.6;
  transition: transform 200ms linear;
}

.github-link:hover .github-icon,
.github-link:focus .github-icon {
  opacity: 1;
}

.github-link:hover,
.github-link:focus {
  border-bottom: var(--border-primary);
}

/* ========== 7. media queries ========== */
/* ========== 7.1 responsiveness ========== */
@media only screen and (min-width: 430px) {
  #accessibility-container {
    justify-content: flex-start;
  }

  #theme-switch {
    margin-left: 50px;
  }
}

@media only screen and (min-width: 768px) {
  .header-main {
    flex-direction: row;
    align-items: flex-start;
  }

  #app-logo {
    text-align: left;
  }

  form {
    margin-left: 100px;
  }

  .forecast-links {
    width: 50%;
  }
}

@media only screen and (min-width: 992px) {
}

@media only screen and (min-width: 1200px) {
  .forecast-links {
    width: 33.33%;
  }
}

/* ========== 7.2 reduced motion ========== */
@media (prefers-reduced-motion: reduce) {
  :root {
    scroll-behavior: unset !important;
  }

  .animated {
    transition: none !important;
  }
}
